body {
    background-position: center;
    background-size: cover;
    font-family: sans-serif;
    margin-top: 40px;
    color: black;
    background: linear-gradient(to right, #942516 0%, #a64d4d 100%);
}

*{
    margin: 0;
    padding: 2px;
}

.head{
    width: 985px;
    font-size: 30px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 40px;
    text-align: center;
    color: black;
}

.box {
    position: relative;
    width: 500px;
    height: 100px;
    left: 400px;
    top:-135px;
    border: 1px solid black;
    padding: 10px;
  }

input[type=text]{
    border: 1px solid black;
    border-radius: 5px;
    height: 20px;
    font-size: 14px;
}
input[type=numeric]{
    border: 1px solid black;
    border-radius: 7px;
    height: 20px;
    font-size: 14px;
}
input[type=date]{
    border: 1px solid black;
    border-radius: 7px;
    height: 20px;
    font-size: 14px;
}
hr.h{
    border: 1px;
    border-radius: 1px;
}
.main {
    background-color: white;
    width: 1000px;
    margin: auto;
}
form{
    padding: 10px;
}
.year{
    margin-left: 2px;
    margin-top: 30px;
    width: 125px;
    color: black;
    font-size: 16px;
    font-weight: 10;
}
.schoolyear{
    position: relative;
    left: 100px;
    top: -20px;
}
.grade{
    margin-left: 3px;
    color: black;
    font-size: 16px;
    font-weight: 10;
}
.gradelevel{
    position: relative;
    left: 170px;
    top: -25px;
    /*border-radius: 2px;
    border-width: 2px;
    line-height: 16px;
    padding: 0 12px;
    font-size: 14px; */
}

.lrn{
    margin-top: 10px;
}
.Ylrn{
    margin-left: 30px;
    margin-top: 5px;
}
.Yreturn{
    margin-left: 30px;
    margin-top: 5px;
}
.return{
    margin-left: 300px;
    margin-top: -70px;
    color: black;
    font-size: 16px;
    font-weight: 10;
}

.PSA{
    margin-left: 3px;
    margin-top: -130px;
    color: black;
    font-size: 16px;
    font-weight: 10;
}

.PSANo{
    position: relative;
    left: 400px;
    top: -20px;
    font-size: 12px;
    width: 300px;
}
.LRNNo{
    position: relative;
    left: 400px;
    top: -20px;
    font-size: 12px;
    width: 300px;
}
#name{
    width: 1000px;
    height: 100px;
}
.name{
    margin-top: 30px;
    width: 125px;
    color: black;
    font-size: 16px;
    font-weight: 10;
}
input{
    margin-left: 5px;
}
.lname{
    position: relative;
    left: 100px;
    top: -20px;
}
.fname{
    position: relative;
    left: 100px;
    top: -20px;

}
.mname{
    position: relative;
    left: 100px;
    top: -20px;

}
.extname{
    position: relative;
    left: 100px;
    top: -20px;
}
.place{
    position: relative;
    left: 110px;
    top: -23px;
    font-size: 12px;
    width: 300px;
}
.mothertounge{
    position: relative;
    left: 450px;
    top: -45px;
    font-size: 16px;
    width: 300px;   
}
.c{
    position: relative;
    left: 570px;
    top: -65px;
    font-size: 12px;
    width: 300px;
}
p.date{
    width: 300px;
}
.date{
    position: relative;
    top: -50px;
}
.d{
    position: relative;
    left: 180px;
    top: -72px;
    font-size: 12px;
}
p.sex{
    width: 200px;
}
.sex{
    position: relative;
    left: 350px;
    top: -95px;
    font-size: 16px;    
}
.sx{
    position: relative;
    left: 390px;
    top: -118px;
    font-size: 15px;
}
p.age{
    width: 20px;
}

.age{
    position: relative;
    left: 530px;
    top: -140px;
    font-size: 16px; 
}

.a{
    position: relative;
    left: 580px;
    top: -166px;
    font-size: 16px;
    width: 40px;
}
.ip{
    width: 150px;
}
.indi{
    margin-left: 0px;
    margin-top: -120px;
    color: black;
    font-size: 16px;
    font-weight: 10;
    width: 700px;
}
.specify{
    position: relative;
    top: -40px;
}
.spec{
    position: relative;
    top: -1px;
}
.ip{
    position: relative;
    left: 650px;
    top: -22px;
}
.y4Ps{
    margin-left: 270px;
    margin-top: -22px;
    color: black;
    font-size: 16px;
    font-weight: 10;
}
.address{
    font-size: 18px;
}
.addr{
    font-size: 18px;
}
.ycur{
    left: 300px;
}
.plname{
    position: relative;
    left: 140px;
    top: -22px;
}
.pfname{
    position: relative;
    left: 140px;
    top: -22px;

}
.pmname{
    position: relative;
    left: 140px;
    top: -22px;

}
.lastgrd{
    font-size: 18px;
}
.shs{
    font: 18px;
}
.semester{
    position: relative;
    width: 50px;
}
.sem{
    position: relative;
    left: 80px;
    top: -22px;
    font-size: 16px;
    width: 100px;
}
.track{
    position: relative;
    left: 200px;
    top: -45px;
    width: 50px;
}
.tr{
    position: relative;
    left: 255px;
    top: -68px;
    font-size: 16px;
    width: 100px;
}
.strand{
    position: relative;
    left: 400px;
    top: -91px;
    width: 50px;
}
.str{
    position: relative;
    left: 480px;
    top: -113px;
    font-size: 16px;
    width: 350px;
}
.pref{
    position: relative;
    top: -100px;
    font: 18px;
}
.choose{
    position: relative;
    top: -100px;
}
.check{
    position: relative;
    top: -90px;
    left: 20px;
}
.button{
    position: relative;
    left: 850px;
    top: -80px;
    background-color: #942516;
    border: none;
    color: white;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
}