/* span#en{
    gap:18px !important;
} */

.btn-grd{
    border: 3px solid maroon;
    padding: 10px;
    border-radius: 10px;
    background-color: transparent;
    font-size: medium;
    padding-left: 50px;
    padding-right: 50px;
}

form > .btn-grd{
    width: 70%;
    display: inline-block;
}

