header{
    display: flex;
    justify-content: start;
    gap: 10px;
    background-color: maroon;
    color: white;
    margin: none;
    border: none;
    
}
h3{
    font-size: x-large;
    color:black;
}
img{
    width:35px;
    height:35px;
}
#req{
    border-radius: 15px;
    padding: 0.25rem;
    color: white;
    background-color:#922B21;
    padding: 10px;
}

#off{
    border-radius: 15px;
    padding: 0.25rem;
    color: white;
    background-color:#922B21;
    padding: 10px;
}

#en{
    border-radius: 15px;
    padding: 0.25rem;
    color: white;
    background-color:#922B21;
    border: white;
    display: flex;
    justify-content: center;
    padding: 10px
}

form{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border-radius: 8px;
    padding: 50px ;   
}

#btn{
    display:flex;
    justify-content: space-evenly;
    width: 100%;    
}

.btn-border{
    border: 1px solid white !important;
    padding: 5px 20px !important;
}

