body {
    background-position: center;
    background-size: cover;
    font-family: sans-serif;
    margin-top: 40px;
    color: black;
    background: linear-gradient(to right, #942516 50%, #a64d4d 100%);
}

form {
    background-color: white;
    width: 70vw !important;
}

div.current-address > div > span,
div.perm-address > div > span,
div.current-address > div > span > *,
div.perm-address > div > span > *{
    width: 40%;
}

div.current-address > div > span > input,
div.perm-address > div > span > input {
    flex-grow: 1 !important;
}
button[name="submit"]:active {
    background-color: #942516;
}
button[name="submit"] {
    background-color: #942516;
    color: white;
    width: fit-content;
    align-self: flex-end;
}

p.highlight {
    border: 2px solid black;
    border-inline: none;
    padding: .5rem;
    text-align: center;
}