.primary {
    color: #3498DB ;
}

.text-underline {
    text-decoration: underline;
}
.cursor-pointer {
    cursor: pointer;
}

.text-center {
    text-align: center;
}

.hide{
    display: none !important;
}

.w-full {
    width: 100%;
}

.border-none{
    border : none !important;
}

/* FLEX */
.flex {
    display: flex;
}

.justify-center { 
    justify-content: center !important;
}

.items-center {
    align-items: center;
}

.gap-md {
    gap: 8px;
}

.no-flex-grow {
    flex-grow: 0;
}

/* Background */
.bg-transparent {
    background: transparent;
}


/* Button */
button.active {
    background-color: #c26261;
}


/* Padding */
.p-md{
    padding: 8px;
}






/* main */
body{
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
}


main{
    flex-grow: 1 !important;
    display: flex;
    height: 100%;
    min-height: 100vh !important;
    max-height: fit-content;
    justify-content: center;
}

/*  button link */
button.nav-link{
    text-decoration: none;
    color: black !important;
    text-align: left !important;
    width: 100% !important;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center;
    column-gap: 10px; */
}
main > * {
    padding: 1rem;
}
button.active {
    color: white !important;
    background-color: #8d2826 !important;
}


/* table */

#table_wrapper {
    width: 100% !important;
    max-width: 100% !important;
}

tbody tr,
table thead {
    transition: all 25ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
table thead:hover {
    background-color: rgba(76, 73, 73, 0.37) !important;
}
tbody tr:hover {
    background-color: rgba(181, 180, 180, 0.37) !important;
}