
section {
    width: 100%;
}
canvas {
    width: 100% !important;
    height: 100% !important;
}
#bar-chart, 
#pie-chart{
    width: 60vw;
}

/* #charts > * {
    width: 50%;
} */
@media only screen and (max-width: 768px) { 
    #charts {
        flex-wrap: wrap;
        justify-content: center;
        
    }
    #charts > * {
        width: 100%;
    }
}
#total-enrolles {
    display: flex;
    justify-content: center;
    align-items: center;
}


#total-enrolles > div.card {
    height: fit-content;
    /* background-color: #c08080; */
    display: flex;
    flex-direction: column;
    padding-block: 3rem;
    padding-inline: 5rem;
    /* border-radius: 20px; */
    align-items: center;
}

#pie-chart > div.chart {
    width: 50%;
    height: 100%;
    
}
#pie-chart > div.chart canvas {
    height: clamp(150px, 50%, 200px);
    aspect-ratio: 1;
    flex-grow: 0;
}
#total-enrollees {
    display: inline-block;
}
