footer {
  background-color: #8d2826;
  color: white;
  letter-spacing: 2px;
  padding: 10px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.toast {
  background-color: white !important;
}

form {
  overflow: hidden;
  width: 100%;
}
.modal-content {
  height: fit-content !important;
  max-height: 80vh !important;
  width: fit-content;
  min-width: 30vw;
  position: absolute !important;
  left: 50%;
  transform: translate(-50%);
  margin: 0 auto;
}
.modal-content {
  overflow-y: scroll;
}
form#form-container span {
  gap: 1rem;
  padding: 30px;
}
form#form-container span > * {
  width: 50%;
}

.box {
  border: 1px solid black !important;
  
}
 div#name > span > * {
    width: 50% !important;
 }