*,
*::after,
*::before
{
padding: 0;
margin: 0;
    font-family:Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

/* a:visited {
    color: white;
    background-color: transparent;
}
a:active {
    color: black;
    background-color: transparent;
}
a:hover {
    color: black;
    background-color: transparent;
} */

h1 {
    /* color: #8d2826; */
    /* font-family: 'Times New Roman', Times, serif; */
    letter-spacing: 2px;
    /* font-size: 25px; */
    /* padding-top: 20px; */
}

.setting {
    /* padding-bottom: 250px;  */
    /* padding-left: 80px; */
    /* line-height: 2.0; */
    /* font-size: 18px;
    float: right; */

    flex-grow: 0 !important;
}

.row {
    height: 100%;
}
.row > * {
    height: 100%;
}
a:link.btn-account{
    color: black;
    background-color: transparent;
    line-height: 2rem;
}

a:hover.btn-account{
    color: black;
    background-color: #c26261;
    opacity: 0.5;
    /* padding-left: 10px;
    padding-right: 50px;
    padding-top: 5px;
    padding-bottom: 5px; */
}

a:active.btn-account {
    color: #c26261;
    background-color: transparent;
}

a:visited.btn-account {
    color: black;
    background-color: #c26261;
}

.user-profile > p{
    /* padding-left: 400px; */
    /* font-family: 'Times New Roman', Times, serif; */
    font-size:25px;
    /* padding-bottom: 10px; */
}

.user-profile{
    /* margin-left: 350px; */
    width:58%;
    min-height:300px;
    border-radius: 10px;
    /* margin-top: 20px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    /* padding-block: 20px; */
}

.user-profile > p{
    width: 90%;

}

.user-profile > form{
    border: 1px solid #8d2826;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 10px;
    padding-block: 20px;
    border-radius: 5px;
    width: 90%;
}

.user-profile > form > span {
    width:100%;
    display: grid;
    place-items: center;
    gap: 10px;
}

.user-profile > form > span:last-of-type{
    /* display:flex;
    justify-content: flex-end; */
    place-items: end;
    padding-right: 10%;
}

form input {
    padding: 60px;
    letter-spacing: 1px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

form input, form select {
    width: 80%;
    /* padding: 12px 20px; */
    /* margin-left: 50px; */
    display: flex;
    border: 1.5px solid #8d282693 !important;
    /* border-radius: 15px; */
    /* box-sizing: border-box; */
}

form input[type=submit] {
    width: 20%;
    background-color: #8d2826;
    color: white;
    padding: 10px;
    /* margin-left: 472px; */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    /* justify-self: flex-end; */
}
  
form input[type=submit]:hover {
    background-color: #c26261;
    color: white;
}

form label{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: left;
    width: 80%;
    font-weight: bold;
    /* padding-top: 50px;
    padding-left: 50px; */
 
}

section{
    width: 75% !important;
    /* display:flex;
    padding-top:20px;
    column-gap: 10%; 
    align-items: center; */
}

ul.nav {
    max-width: fit-content !important;
}

.form-body span {
    width: 85%;
}
.form-body span:has(button) {
    display: flex;
    justify-content: flex-end;
}
.form-body span > input[type="text"] {
    width: 100%;
}
/*footer - renz*/


#v-pills-viewuser-tab:active,
#v-pills-createuser-tab:active {
    background-color: white;
}